@import '/src/variables.scss';
$line-thinckness: 10px;
.video-seek-overlay {
  z-index: 10;
  height: 100%;
  width: 100%;
  position: absolute;
  &:hover {
    cursor: pointer;
    background-color: rgba(black, 0.27);
    transition: background-color 300ms ease-out;
    .line {
      opacity: 1;
    }
  }
  .line {
    height: 100%;
    transition: opacity 300ms ease-out;
    opacity: 0;
    border-left: $line-thinckness dashed $primary-color;
    position: absolute;
    &.current {
      border-left: $line-thinckness solid $primary-color;
      transition: left linear 125ms; //Smooths the low frame rate caused by currentTime's update rate
    }
    .time-label {
      background: rgba($tertiary-color, 0.6);
      color: white;
      border-radius: 10px;
      padding: 10px;
      left: calc(5px + 1%);
      bottom: 1%;
      position: absolute;
      font-size: 3.5vmin;
    }
    .play-pause-button {
      position: absolute;
      bottom: 18%;
      left: -5.5vh;
      width: 6vh;
      height: 6vh;
      .button {
        border: $line-thinckness solid $primary-color;
        .primary-text {
          font-weight: bolder;
          font-size: 5vmin !important;
          line-height: 6vh;
        }
      }
      &.playing {
        .button .primary-text {
          font-size: 6vmin !important;
        }
      }
    }
  }
}