@import '/src/variables.scss';

.mystery-word {
  margin-left: 5px;
  color: $primary-color;
  span {
    margin: 0 3px;
    display: inline-block;
  }
  .hidden-letter {

    font-size: calc(3.5vmin);
    font-weight: 600;
    animation: rainbow-cycle 6s ease-in infinite;
    @for $i from 0 through 20 {
      &:nth-of-type(#{$i}) {
        animation-delay: (($i - 1) % length($rainbow-colors)) * (6s / length($rainbow-colors));
        color: nth($rainbow-colors, (($i) % length($rainbow-colors)) + 1);
      }
    }
  }
  .revealed-letter {
    font-size: calc(2.5vmin);
    font-weight: 400;
    animation: fade-in .6s forwards;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

//Rainbow animation for mystery letters 
@keyframes rainbow-cycle {
  // Loop through each color and assign a percentage based on its index in the $rainbow-colors list
  @for $i from 1 through length($rainbow-colors) {
    $color: nth($rainbow-colors, $i);
    #{$i * (100 / length($rainbow-colors))}% {
      color: $color;
    }
  }
  0%{
    transform: translateY(0px);
    color:nth($rainbow-colors, 1);
  }
  12.5% {
    transform: translateY(-1.7px);
  }
  25%{
    transform: translateY(0px);
  }
  37.5%{
    transform: translateY(1.7px);
  }
  50%{
    transform: translateY(0px);
  }
  62.5%{
    transform: translateY(-1.7px);
  }
  75%{
    transform: translateY(0px);
  }
  87.5%{
    transform: translateY(1.7px);
  }
  100%{
    transform: translateY(0px);
    color:nth($rainbow-colors, 1);
  }
}
