@import './variables.scss';

body {
  overflow: hidden;
}

.App-header {
  font-family: 'Fredoka One', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  &::before {
    content: '';
    background-image: url(./img/bubbly.png);
    background-repeat: repeat;
    background-size: 200px;
    filter: saturate(65%) brightness(110%) blur(2.7px);
    position: absolute;
    width: 150vw;
    height:  150vh;
    animation: bubbles-illusion 35s linear infinite;
    z-index: -1;
  }
}

/** VIDEOPLAYER **/
$screen-top: 1vh;
$screen-width: 73vh;
$screen-height: 44vh;

.tv-bezel {
  position: absolute;
  top: $screen-top;
  height: $screen-height;
  width: $screen-width;
  max-width: calc(95vw - 16vh);
  border: 6vh solid $secondary-color;
  border-left: 8vh solid $secondary-color;
  border-right: 8vh solid $secondary-color;
  border-radius: 50px;
  //This margin-bottom is applied to hide the title of the video
  margin-bottom: -50px;
  z-index: 2;
  pointer-events: none;
}

.tv-screen {
  height: calc($screen-height + 6vh);
  width: $screen-width;
  max-width: calc(95vw - 16vh);
  position: absolute;
  top: $screen-top;
  border-left: 1px solid black;
}

.score-board {
  z-index: 4;
  position:absolute;
  top: calc($screen-top + 2vh);
  width: $screen-width;
  max-width: calc(95vw - 16vh);
  font-size: calc(2vmin);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .hint-points {
    flex-basis: 75%;
    display: flex; 
    align-items: center;
    .hp-bar-container {
      margin-left:10px;
      display: inline-block;
      width: 60%;
      font-size: calc(1.5vmin);
    }
  }
  .score {
    flex-basis: 25%;
  }
  
}

.words-container {
  z-index: 4;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: ($screen-height + $screen-top + 7vh);
  height: 5vh;
  width: ($screen-width);
  max-width: calc(95vw - 16vh);
  font-size: calc(2px + 2vmin);
  span {
    justify-content: flex-start;
    flex-basis: 50%;
  }
  .user-word {
    color: $primary-color;
    margin-left: 5px;
  }
}


/** HINTS **/
.hint-container {
  position: absolute;
  bottom: .5vh;
  height: 36vh;
  padding: 20px 20px 0;
  margin: 0 20px;
  border: 5px solid $tertiary-color;
  border-radius: 20px;
  background: $secondary-color;
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .grid-item {
      flex-basis: 50%;
    }
  }
}

//Creates the illusion of independently rising bubbles
@keyframes bubbles-illusion {
  0%{
    background-position: 0px 0px;
    transform:skewX(-5deg);
  }
  50%{
    transform:skewX(5deg);
  }
  100%{
    background-position: 0px -400px;
    transform:skewX(-5deg);
  }
}
