@import './variables.scss';

body {
  overflow: hidden;
}

.App-header {
  font-family: 'Fredoka One', cursive;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
  &::before {
    content: '';
    background-image: url(./img/backgroundtexture.png);
    background-repeat: repeat;
    background-size: 100px;
    position: absolute;
    width: 150vw;
    height:  150vh;
    animation: bubbles-illusion 50s linear infinite;
    z-index: -1;
  }
}

.confetti {
  z-index: 100 !important;
}

/** VIDEOPLAYER **/
$screen-top: .6vh;
$screen-height: 60vh;
$screen-width: calc($screen-height * 1.7778);
$max-screen-width: (100vw);


/** This bezel is layered over the video player to hide the title, with the video player set taller to place the title in black space outside the video's frame*/
.tv-bezel {
  position: absolute;
  top: $screen-top;
  height: $screen-height;
  width: $screen-width;
  max-width: $max-screen-width;
  border: 6vh solid $secondary-color;
  border-left: 8vh solid $secondary-color;
  border-right: 8vh solid $secondary-color;
  border-radius: 50px;
  margin-bottom: -50px;
  z-index: 2;
  .game-over-screen {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: $primary-color;
    justify-content: center;
    display: flex; 
    flex-direction: column;
    align-items: center;
  }
  .menu-screen {
    width: 100%;
    height: 100%;
    color: white;
    background-color: $primary-color;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    .title {
      font-size: 9vh;
      text-align: center;
      .button {
        font-size: 6vh;
        height: 8vh;
        align-self: center;
      }
    }
    .round-scores {
      display: flex;
      align-items: center;
      font-size: 3vmin;
      width: 100%;
      span {
        text-align: center;
        flex-basis: 33%;
      }
    }
  }
}

.tv-screen {
  height: calc($screen-height + 12vh - 2px);
  width: calc($screen-width + 1px);
  max-width: $max-screen-width;
  position: absolute;
  top: $screen-top;
}
.video-selectors {
  display: flex;
  justify-content: space-between;
  position:absolute;
  top: calc($screen-top + ($screen-height / 2) + 2vh);
  width: calc($screen-width + 14vh);
  max-width: $max-screen-width;
  .button {
    margin: 0;
    width: 4vh;
    height: 4vh;
    &.hidden {
      visibility: hidden;
    }
  }
}
.score-board {
  z-index: 4;
  position:absolute;
  top: calc($screen-top + 1.5vh);
  width: $screen-width;
  max-width: calc(95vw - 16vh);
  font-size: calc(2.3vmin);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .hint-points {
    flex-basis: 75%;
    display: flex; 
    align-items: center;
    .hp-bar-container {
      margin-left: 10px;
      display: inline-block;
      width: 60%;
      font-size: calc(1.7vmin);
    }
  }
  .score {
    flex-basis: 25%;
  }
  
}

.words-container {
  z-index: 4;
  position: absolute;
  display: flex;
  align-items: center;
  top: ($screen-height + $screen-top + 6vh);
  height: 5vh;
  line-height: 5vh;
  width: $screen-width;
  max-width: $max-screen-width;
  max-width: calc(95vw - 16vh);
  font-size: calc(2.3vmin);
  span {
    justify-content: flex-start;
    flex-basis: 50%;
    white-space: nowrap;
  }
  .user-word {
    color: $primary-color;
    margin-left: 5px;
  }
}


/** HINTS **/
.hint-container {
  position: absolute;
  bottom: .3vh;
  height: 24.5vh;
  padding: 12px 20px;
  border-radius: 20px;
  background-color: rgba($secondary-color, 0.94);
  width: 95%;
  .grid-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    .grid-item {
      flex-basis: 49%;
      display: flex;
    }
    .full-row-item {
      flex-basis: 99%;
      display: flex;
      text-align: center;
      div {
        width: 100%
      }
    }
  }
  .round-over {
    height: 100%;
    margin-top: 2px;
  }
}

.dancing-letters {
  span{
    margin-left: 7px;
    display: inline-block;
    animation: dance 2s ease-in infinite;
    &:nth-child(2n) {
      animation: dance 2s ease-in-out infinite;
      //animation-direction: reverse;
    }
  }
}

@keyframes dance {
  0% {
    transform: rotate(0deg) skew(0deg) scale(1) translate(0, 0);
  }
  25% {
    transform: rotate(12deg) skew(7.5deg) scale(0.9, 1.2) translate(.5vh, -.95vh);
  }
  46%, 50% {
    transform: rotate(0deg) skew(0deg) scale(1) translate(0, 0);
  }
  75% {
    transform: rotate(-12deg) skew(-7.5deg) scale(0.9, 1.2) translate(-.5vh, -.95vh);
  }
  96% {
    transform: rotate(0deg) skew(0deg) scale(1) translate(0, 0);
  }
}

@keyframes bubbles-illusion {
  0%{
    background-position: 0px 0px;
    transform:skewX(-1.5deg);
  }
  50%{
    transform:skewX(1.5deg);
  }
  100%{
    background-position: 0px -400px;
    transform:skewX(-1.5deg);
  }
}
