@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

// Used for rainbow effects
$rainbowColors: (
  rgb(252, 65, 65),
  orange,
  yellow,
  rgb(33, 156, 33),
  rgb(94, 94, 255),
  rgb(163, 77, 224),
  rgb(250, 178, 250)
);

body {
  overflow: hidden;
}

.App-header {
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
  background: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  &::before {
    content: '';
    background-image: url(./img/bubbly.png);
    background-repeat: repeat;
    background-size: 200px;
    filter: saturate(65%) brightness(110%) blur(2.7px);
    position: absolute;
    top:-50%;
    right:-50%;
    bottom:-50%;
    left:-50%;
    left: -100%;
    width: 400%;
    height:  150vh;
    animation: bubbles-illusion 35s linear infinite;
    z-index: -1;
  }
}

/** VIDEOPLAYER **/
$screen-top: 1vh;
$screen-width: 73vh;
$screen-height: 44vh;

.tv-bezel {
  position: absolute;
  top: $screen-top;
  height: $screen-height;
  width: $screen-width;
  max-width: calc(95vw - 16vh) !important;
  border: 6vh solid rgb(49, 49, 49);
  border-left: 8vh solid rgb(49, 49, 49);
  border-right: 8vh solid rgb(49, 49, 49);
  border-radius: 50px;
  margin-bottom: -50px;
  z-index: 2;
  pointer-events: none;
}

.tv-screen {
  height: calc($screen-height + 6vh);
  width: $screen-width !important;
  max-width: calc(95vw - 16vh) !important;
  position: absolute;
  top: $screen-top;
  border-left: 1px solid black;
}

.score-board {
  z-index: 4;
  position:absolute;
  top: calc($screen-top + 2vh);
  width: $screen-width !important;
  max-width: calc(95vw - 16vh) !important;
  font-size: calc(2vmin);
  .grid-item {
    display: flex;
    justify-content: flex-start;
    flex-basis: 75% !important;
    &+.grid-item{
      flex-basis: 25% !important;
    }
  }
  .hint-points {
    display: flex; 
    justify-content: left;
    align-items: center;
    .hp-bar-container {
      margin-left:10px;
      display: inline-block;
      width: 60%;
      font-size: calc(1.5vmin);
    }
  }
  
}

.words-container {
  z-index: 4;
  position: absolute;
  top: ($screen-height + $screen-top + 7vh);
  height: 5vh;
  width: ($screen-width) !important;
  max-width: calc(95vw - 16vh) !important;
  font-size: calc(2px + 2vmin);
  .grid-item {
    display: flex;
    justify-content: flex-start;
  }
  .user-word {
    color: red;
    margin-left: 5px;
  }
}


/** HINTS **/
.grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  .grid-item {
    flex-basis: 50%;
  }
}

.hint-container {
  position: absolute;
  bottom: .5vh;
  height: 36vh;
  padding: 20px 20px 0;
  margin: 0 20px;
  border: 5px solid rgb(90, 90, 90);
  border-radius: 20px;
  background: rgb(49, 49, 49);
}

//Creates the illusion of independently rising bubbles
@keyframes bubbles-illusion {
  0%{
    background-position: 0px 0px;
    transform:skewX(-5deg);
  }
  50%{
    transform:skewX(5deg);
  }
  100%{
    background-position: 0px -400px;
    transform:skewX(-5deg);
  }
}
