@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

$rainbow-colors: (
  rgb(252, 65, 65),
  orange,
  yellow,
  rgb(33, 156, 33),
  rgb(94, 94, 255),
  rgb(163, 77, 224),
  rgb(250, 178, 250)
);

$primary-color: red;
$secondary-color: rgb(49, 49, 49);
$tertiary-color: rgb(90, 90, 90);